<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include ./_partials/_header %>
    <form action="/register" method="POST" >
      <label for="email">Enter email</label>
      <input type="email" name="email" require>
      <label for="password">Enter password</label>
      <input type="password" name="password" require>
      <button type="submit" >Register<button>
    </form>
  </body>
</html>