<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <% include ./_partials/_header %>
</header>
<body>
    
    <p>Short URL: <%= shortURL %><p>

    <form method="POST" action=<%= `/urls/${shortURL}/update`%>>
    <input type="text" name="newURL" value= <%= longURL  %> placeholder="http://"></input>
    <button type="submit" >Update</button>
    </form>

</body>
</html>