<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <% include ./_partials/_header %>
</header>
<body> 
<ul>
    <% for(each in urls) { %>
      <form method="POST" action=<%= `/urls/${each}/delete`%>>
      <li><%= each %><button type='submit' value='delete'>Delete</button></li>
      </form>
  <% }; %>
  
</ul>
</body>
</html>
